@import "../reindeer/styles.css";

.demo-header {
	font-size: 18px;
	font-weight: bold;
	line-height: normal !important;
}

.demo-desc {
	max-width: 20cm;
}

.demo-removable-layout {
	border-width: 0px 0px 1px 0px;
	border-color: silver;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	background: -webkit-linear-gradient(left, #E8E8E8, #FFFFFF);
	background: -moz-linear-gradient(left, #E8E8E8, #FFFFFF);
	background: -o-linear-gradient(left, #E8E8E8, #FFFFFF);
	border-radius: 5px;
}


.demo-big-label {
	font-weight: bold;
}	

.demo-small-label-0 {
	font-size: 10px;
	color: red;
}

.demo-small-label-1 {
	font-size: 10px;
	color: green;
}
.demo-small-label-2 {
	font-size: 10px;
	color: blue;
}
.demo-small-label-3 {
	font-size: 10px;
	color: black;
}