@import "../reindeer/reindeer.scss";
@include reindeer;

.demo-header {
	font-size: 18px;
	font-weight: bold;
	line-height: normal !important;
}

.demo-desc {
	max-width: 20cm;
}

.demo-removable-layout {
	border-width: 0px 0px 1px 0px;
	border-color: silver;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	background: -webkit-linear-gradient(left, #E8E8E8, #FFFFFF);
	background: -moz-linear-gradient(left, #E8E8E8, #FFFFFF);
	background: -o-linear-gradient(left, #E8E8E8, #FFFFFF);
	border-radius: 5px;
}

.fancy-csslayout-item {
	display: inline-block;
}

.demo-removable-two {
	width: 200px !important;
	height: 50px !important;
	background: -webkit-linear-gradient(bottom, #E8E8C8, #FFFFDF);
	background: -moz-linear-gradient(bottom, #E8E8C8, #FFFFDF);
	background: -o-linear-gradient(bottom, #E8E8C8, #FFFFDF);
	overflow: hidden;
}

.demo-big-label {
	font-weight: bold;
}	

.demo-small-label-0 {
	font-size: 10px;
	color: red;
}

.demo-small-label-1 {
	font-size: 10px;
	color: green;
}
.demo-small-label-2 {
	font-size: 10px;
	color: blue;
}
.demo-small-label-3 {
	font-size: 10px;
	color: black;
}
.demo-special-notification {
    background-color: rgba(128,0,0,0.5) !important;
}

.demo-special-notification:hover {
    background-color: rgba(128,0,0,0.75) !important;
}

.demo-special-notification .fancy-notif-title {
	font-family: cursive;
}

.demo-special-notification .fancy-notif-desc {
    font-family: monospace;
}

.demo-panel-d {
 background-color: #333;
}

.demo-meme {
 position: absolute;
 left: 50%;
 top: 50%;
 margin-top: -200px;
 margin-left: -200px;
 width: 400px;
 height: 400px;
 animation-duration: 3s;
 animation-name: meme-anim;
 -webkit-animation: meme-anim 3s linear;
}

@keyframes meme-anim {
  from {
    left: 140%;
    opacity: 0;
  }
  
  50% {
    left: 10%;
    opacity: 1;
  }
  
  75% {
    left: 60%;
  }
 
  100% {
    left: 50%;
  }
}

@-webkit-keyframes meme-anim {
  from {
    left: 140%;
    opacity: 0;
    -webkit-transform: rotateZ(20deg);
  }
  40% {
    left: 50%;
    opacity: 0.8;
    -webkit-transform: rotateZ(10deg);
  }
  50% {
    left: 40%;
    -webkit-transform: rotateZ(-20deg);
  } 
  65% {
    left: 60%;
    -webkit-transform: rotateZ(5deg);
  }
  80% {
    left: 50%;
    opacity: 0.8;
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    opacity: 1.0;
  }
}

.demo-smiley {
 font-size: 40px;
 line-height: 40px;
 color: white;
 text-align: center;
 position: absolute;
 top: 50%;
 margin-top: -20px;
}